body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Styling the header */

/*styling the navigations links*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #264653;
  color: white;
}
/* Styling the navigation links to remover underline and change color to white */
.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Styling the products section */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
